.second-imgs {
    gap: 24px;
    display: flex;
}

.left {
    margin-top: 60px;
}

.left h2 {
    color: var(--secondary-dark);
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.left p {
    color: var(--secondary-dark);
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.27px;
    letter-spacing: 0.02em;
    text-align: left;
}

.img-left {
    margin-top: 24px;
    width: 591px;
    border-radius: 24px 0px 0px 0px;
}

.right {   
    padding-left: 30px;
    margin-top: 60px;
}